In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
# Drop the irrelevant columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
## Ecnode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# OneHot Encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [6]:
# Combine one hot encoder columns with the original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
# Split the data into features and target
x = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
# Split the data into training and testing sets
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [9]:
# Scale these features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [10]:
# Save the encoders and scalar
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

2024-08-25 00:45:12.827928: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-25 00:45:12.830507: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-25 00:45:12.837273: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-08-25 00:45:12.848410: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-08-25 00:45:12.851612: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-08-25 00:45:12.861355: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-08-25 00:45:13.487842: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [12]:
# Build our ANN model

model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),      # Hidden Layer 1
    Dense(32, activation='relu'),      # Hidden Layer 2
    Dense(1)     # Output Layer for regression
])

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

/home/hamid/Desktop/GenerativeAI/ANN/venv/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2024-08-25 00:45:20.302898: E external/local_xla/xla/stream_executor/cuda/cuda_driver.cc:266] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Setup Tensorboard 
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
# Setup early stoppings
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [15]:
# Train the model
history = model.fit(
    x_train,y_train,
    validation_data=(x_test, y_test),
    epochs=100,
    callbacks = [early_stopping_callback]
)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 841us/step - loss: 100551.9531 - mae: 100551.9531 - val_loss: 98491.7891 - val_mae: 98491.7891
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - loss: 100855.5469 - mae: 100855.5469 - val_loss: 96691.0938 - val_mae: 96691.0938
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - loss: 96553.8594 - mae: 96553.8594 - val_loss: 91961.1797 - val_mae: 91961.1797
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - loss: 91890.4062 - mae: 91890.4062 - val_loss: 84245.1875 - val_mae: 84245.1875
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - loss: 84256.7969 - mae: 84256.7969 - val_loss: 74778.4375 - val_mae: 74778.4375
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - loss: 73074.4062 - mae: 73074.4062 - val_loss: 65436.4961 - val_mae: 65436.4961
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - loss: 64493.1953 - mae: 64493.1953 - val_loss: 57999.1562 - val_mae: 57999.1562
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - loss: 57126.8945 - mae: 57126.8945 - val_loss: 53597.2109 - val_mae: 53597.2109
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - loss: 52527.4883 - mae: 52527.4883 - val_loss: 51661.2812 - val_mae: 51661.2812
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - loss: 51469.1641 - mae: 51469.1641 - val_loss: 51081.2305 - val_mae: 51081.2305
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - loss: 50788.9453 - mae: 50788.9453 - val_loss: 50942.6523 - val_mae: 50942.6523
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - loss: 50849.6992 - mae: 50849.6992 - val_loss: 50884.3359 - val_mae: 50884.3359
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - loss: 51052.9102 - mae: 51052.9102 - val_loss: 50840.6914 - val_mae: 50840.6914
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - loss: 50107.0859 - mae: 50107.0859 - val_loss: 50790.5977 - val_mae: 50790.5977
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - loss: 50140.5391 - mae: 50140.5391 - val_loss: 50748.6289 - val_mae: 50748.6289
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - loss: 50549.3438 - mae: 50549.3438 - val_loss: 50713.3711 - val_mae: 50713.3711
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - loss: 50626.5586 - mae: 50626.5586 - val_loss: 50678.6914 - val_mae: 50678.6914
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - loss: 49847.3516 - mae: 49847.3516 - val_loss: 50641.5352 - val_mae: 50641.5352
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - loss: 49688.5625 - mae: 49688.5625 - val_loss: 50614.4883 - val_mae: 50614.4883
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - loss: 49537.5273 - mae: 49537.5273 - val_loss: 50582.7617 - val_mae: 50582.7617
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - loss: 49589.7578 - mae: 49589.7578 - val_loss: 50563.7344 - val_mae: 50563.7344
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - loss: 49360.0547 - mae: 49360.0547 - val_loss: 50537.4062 - val_mae: 50537.4062
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - loss: 49173.0195 - mae: 49173.0195 - val_loss: 50515.8594 - val_mae: 50515.8594
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - loss: 49930.4180 - mae: 49930.4180 - val_loss: 50506.0977 - val_mae: 50506.0977
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - loss: 49486.2070 - mae: 49486.2070 - val_loss: 50475.3477 - val_mae: 50475.3477
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - loss: 49907.1445 - mae: 49907.1445 - val_loss: 50473.6250 - val_mae: 50473.6250
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - loss: 49557.0039 - mae: 49557.0039 - val_loss: 50460.9727 - val_mae: 50460.9727
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - loss: 49648.9453 - mae: 49648.9453 - val_loss: 50455.6680 - val_mae: 50455.6680
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - loss: 50028.0898 - mae: 50028.0898 - val_loss: 50443.0195 - val_mae: 50443.0195
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - loss: 49370.1133 - mae: 49370.1133 - val_loss: 50430.3320 - val_mae: 50430.3320
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - loss: 50252.9180 - mae: 50252.9180 - val_loss: 50412.2227 - val_mae: 50412.2227
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - loss: 49521.9062 - mae: 49521.9062 - val_loss: 50412.8086 - val_mae: 50412.8086
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 489us/step - loss: 50055.2422 - mae: 50055.2422 - val_loss: 50421.4141 - val_mae: 50421.4141
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - loss: 50171.2500 - mae: 50171.2500 - val_loss: 50398.4531 - val_mae: 50398.4531
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - loss: 49344.5078 - mae: 49344.5078 - val_loss: 50413.5898 - val_mae: 50413.5898
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - loss: 49177.5117 - mae: 49177.5117 - val_loss: 50414.5703 - val_mae: 50414.5703
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - loss: 49646.3750 - mae: 49646.3750 - val_loss: 50385.9062 - val_mae: 50385.9062
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - loss: 49615.1172 - mae: 49615.1172 - val_loss: 50379.4766 - val_mae: 50379.4766
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - loss: 49840.0820 - mae: 49840.0820 - val_loss: 50387.1328 - val_mae: 50387.1328
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - loss: 49828.7344 - mae: 49828.7344 - val_loss: 50392.8008 - val_mae: 50392.8008
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - loss: 49462.1992 - mae: 49462.1992 - val_loss: 50393.0039 - val_mae: 50393.0039
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - loss: 49692.9414 - mae: 49692.9414 - val_loss: 50383.5156 - val_mae: 50383.5156
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - loss: 49465.9023 - mae: 49465.9023 - val_loss: 50383.5977 - val_mae: 50383.5977

In [16]:
%load_ext tensorboard

In [17]:
%tensorboard --regressionlogs/fit

ERROR: Failed to launch TensorBoard (exited with 2).
Contents of stderr:
2024-08-25 00:45:28.233290: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-25 00:45:28.235555: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-25 00:45:28.242320: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-08-25 00:45:28.253394: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-08-25 00:45:28.256880: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-08-25 00:45:28.265617: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-08-25 00:45:28.892367: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
usage: tensorboard [-h] [--helpfull] [--logdir PATH] [--logdir_spec PATH_SPEC]
                   [--host ADDR] [--bind_all] [--port PORT]
                   [--reuse_port BOOL] [--load_fast {false,auto,true}]
                   [--extra_data_server_flags EXTRA_DATA_SERVER_FLAGS]
                   [--grpc_creds_type {local,ssl,ssl_dev}]
                   [--grpc_data_provider PORT] [--purge_orphaned_data BOOL]
                   [--db URI] [--db_import] [--inspect] [--version_tb]
                   [--tag TAG] [--event_file PATH] [--path_prefix PATH]
                   [--window_title TEXT] [--max_reload_threads COUNT]
                   [--reload_interval SECONDS] [--reload_task TYPE]
                   [--reload_multifile BOOL]
                   [--reload_multifile_inactive_secs SECONDS]
                   [--generic_data TYPE]
                   [--samples_per_plugin SAMPLES_PER_PLUGIN]
                   [--detect_file_replacement BOOL]
                   {serve} ...
tensorboard: error: unrecognized arguments: --regressionlogs/fit